# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate

# Build output
build/
/tmp/PremiereQLBuild/

# Swift Package Manager
.build/
.swiftpm/
